.weather-container {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border: 2px solid #33ffbb;
  border-radius: 15px;
  background-color: #7fffd4;
}

.weather-form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.weather-form > input {
  flex: 1;
  min-width: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #33ffbb;
  border-radius: 8px;
  outline: none;
}

.weather-form > button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.weather-data-container {
  position: relative; /* Used for centering the loading and error state */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  min-height: 300px;
  padding-block: 1rem;
  font-weight: 700;
}

.weather-data-container > .location {
  font-size: 2rem;
}

.weather-data-container > .date {
  font-style: italic;
}

.weather-data-container > .temperature {
  font-size: 4rem;
}

.weather-data-details {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.status-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container > p {
  font-weight: 700;
}
