main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-block: 5rem;
}

main > * {
  flex: 0 0 auto;
}

.main-title {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding-inline: 1rem;
  margin-inline: auto;
}
