.main-title {
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding-block: 10rem;
  max-width: 1200px;
  padding-inline: 1rem;
  margin-inline: auto;
}
