.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
}

.game-square {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}
